body{
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

.text{
  font-family: 'SF Pro Display', sans-serif;
}

.search-header{
  width: 100%;
  display: flex;
  height: 3rem;
}

.search-container{
  margin: auto;
  display: flex;
  border-bottom: 1px solid 
#d7eaff;
  width: 75%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.search-text-wrapper{
  margin-right: 3em;
}

.header-span-text{
  font-size: .9em;
  color: rgb(42, 42, 42);
}

.search-link-wrapper{
  padding: 8px 10px;
  border: .5px solid rgba(152, 156, 162, 0.15);
  border-radius: 24px;
  background-color: rgba(152, 156, 162, 0.15);
}

.openlab-community-link{
  text-decoration: none;
  font-family: 'SF Pro Display', sans-serif;
  color: rgb(100, 100, 100);
  font-size: 12px;
  text-align: center;
  display: flex;
}

.comm-link-span-text{
  color: #989ca2;
  margin-right: .5em;
}

.navbar-container {
  width: 73%;
  height: 4.5rem;
  margin: auto;            
}

.navbar-wrapper{
  margin: auto;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.nav-menu{
  display: flex;
}        

.navbar-wrapper{
  margin-right: 17em;
}

.image-link, a{
  display: flex;
}

.image-link, img{
  margin: auto 0;
}

.navbar-link{
  text-decoration: none;
  color: black;
  font-family: 'SF Pro Display', sans-serif;
  gap: .5em;
  font-size: 14px;
}

.dropdown-btn{
  overflow: hidden;
  padding: .5em 1em;
  background-color: inherit;
  cursor: pointer;
  border: none;
  font-size: 14px;
  display: flex;
}

.dropdown-btn:hover{
  color: #0d6efd;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  z-index: 1;
  border-radius: 6px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}       

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  font-weight: bold;
  color: #0d6efd;
}

.dropdown-arrow-icon{
  margin: auto 0 auto .5em;
}

.btn-signup{
  border: 1px solid #3597ff;
  color: white;
  border-radius: 6px;
  width: 17em;
  padding: 12px 20px;
  background-color: #3597ff;
  cursor: pointer;
  font-size: 14px;
}

.hero{
  width: 100%;
  background-color: #3597ff;
  height: 430px;
  margin-bottom: 3em;
  position: relative;
}

.hero-container{
  width: 73%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;            
}

.hero-text-wrapper{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text-wrapper, h1, h3, span{
  color: white;
}

.hero-main-text{
  font-size: 2.5em;
  font-weight: 100;
  line-height: 1.2;
  margin-top: 0;
}

.hero-span-text{
  font-weight: bold;
}

.hero-submain-text{
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 0;
}

.hero-image-wrapper{
  width: 60%;
  display: flex;
  justify-content: center;
  position: relative;
}

.hero-image{
  width: 540px;
  position: absolute;
  bottom: 0;
}

.hero-right-circle{
  width: 482px;
  height: 482px;
  position: absolute;
  right: -236px;
  bottom: -236px;
}

.why-openlab{
  height: 500px;
  display: flex;
  padding: 48px;
}

.why-openlab-container{
  margin: 0 auto;
  width: 73%;
}

.top-section{
  text-align: center;
}

.why-openlab-header{
  font-size: 2.5em;
  font-weight: 100;
  margin: 0 auto 1.2em
}

.why-openlab-header-span{
  font-weight: bold;
  color: black;
}

.why-openlab-parag{
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 0;
  color: #5c7091;
}

.bottom-section{
  width: 85%;
  margin: auto;
  display: flex;
  gap: 25px;
  margin-top: 4em;
}

.why-card{
  width: 20em;
  margin: auto 0;
}

.why-section-image{
  display: flex;
  width: 100%;
  height: 50px;
}

.why-section-image, img{
  align-items: center;
}

.why-text-container{
  width: 100%;
  padding: .7em 0;
}

.why-card-header{
  margin: 0 0 .5em;
  font-size: 20px;
}

.why-card-parag{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  color: #5c7091;
}

.openlab-vision{
  height: 400px;
  display: flex;
  padding: 48px 0px;
}

.vision-container{
  width: 73%;
  margin: auto;
  display: flex;
}

.left-vision-container{
  width: 50%;           
  display: flex;
}

.vision-parags-wrapper{
  margin: auto;
}

.vision-header{
  font-size: 40px;
  font-weight: 100;
  margin: 0 0 1.2em;
}

.vision-span-header{
  color: black;
  font-weight: bold;
}

.vision-parag-top{
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5;
  margin: 0 0 1.2em;
  color: #5c7091;
}

.vision-parag-bottom{
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5;
  margin: 0;
  color: #5c7091;
}

.right-vision-cards-container{
  width: 50%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}


.vision-card{
  width: 233px;
  height: 183px;
  align-self: end;
  background-color:aquamarine;
  margin: .5em;
  display: flex;
  align-items: flex-end;
  justify-content: end;
}

.vision-card-wrapper{
  margin: 1em;
}

.digit {
  text-align: right;
  font-size: 90px;
  margin: 0;
  font-weight: bold;
}

.card-text{
  font-size: 18px;
  margin: 0;
  text-align: right;
  font-weight: bold;
}

.card-one{
  background-color: #f2f7fd;
}

.digit-one{
  color: #5b94d7;
}

.text-one{
  color: #5b94d7;
}

.card-two{
  background-color: #d8f8eb;
}

.digit-two{
  color: #5cc19a;
}

.text-two{
  color: #5cc19a;
}

.card-three{
  background-color: #f8f4d8;
}

.digit-three{
  color: #dbca68;
}

.text-three{
  color:#dbca68;
}

.card-four{
  background-color: #f8d8d8;
}

.digit-four{
  color: #b95e73;
}

.text-four{
  color:#b95e73;
}

.openlab-labs{
  width: 100%;
  padding: 3em 0;
}

.openlab-labs-container{
  display: flex;
  width: 73%;
  margin: auto;
  height: 240px;
  justify-content: space-between;
}

.labs-header-wrapper{
  width: 30%;
  display: flex;
}

.labs-header{
  font-size: 40px;
  font-weight: 100;
  margin: auto;
}

.labs-span-header{
  font-weight: bold;
  color: black;
}

.openlab-labs-cards-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 65%;
}

.labs-vision-card{
  padding: 24px 38px 38px;
  position: relative;
}

.labs-vision-card:hover{
  box-shadow: 1px 0px 20px 1px rgba(196,196,196,0.75);
-webkit-box-shadow: 1px 0px 20px 1px rgba(196,196,196,0.75);
-moz-box-shadow: 1px 0px 20px 1px rgba(196,196,196,0.75);
transition-timing-function: ease-in-out;
transition: .3s;
}

.lab-card-header{
  font-size: 20px;
  margin: 0 0 .5em;
}

.lab-span-header{
  font-weight: 100;
  color: black;
}

.lab-card-text{
  font-size: 14px;
  line-height: 1.5;
  margin: 0 0 .5em;
  color: #5c7091;
}

.lab-card-icon{
position: absolute;
bottom: 45px;
color: #5c7091;
}

.openlab-location{
  width: 100%;
  padding: 48px 0px;
  position: relative;
}

.openlab-loc-container{
  width: 73%;
  margin: auto;
  height: 524px;
}

.loc-header-wrapper{
  height: 120px;
}

.loc-text-header{
  text-align: center;
  margin: 0;
  font-size: 40px;
  font-weight: 100;
}

.loc-span-header{
  color: black;
  font-weight: bold;
}

.loc-cards-container{
  display: flex;
  height: calc(100% - 120px);
  gap: 135px;
}

.loc-card{
  width: 50%;
}

.loc-image-wrapper{
  width: 100%;
  height: 270px;
  background-color: #5b94d7;
  border-radius: 20px;
}

.loc-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.loc-card-info{
  margin: 2em 0 1em 0;
  height: calc(100% - 270px);
}

.location-address{
  display: flex;
  height: 24px;
  margin-bottom: 1.5em;
}

.loc-school-name-wrapper{
  display: flex;
  justify-content: space-between;
}

.location-address-name{
  color: black;
  font-size: 20px;
  font-weight: bold;
  vertical-align: center;
}

.school-loc{
  margin: auto 0;
  margin-left: .1em;
  font-size: 16px;
  font-weight: 100;
  color: #5c7091;
  display: inline-block;
  vertical-align: center;
}

.loc-pointer-icon{
  width: 15px;
}

.loc-alert{
  display: flex;
  height: 15px;
  margin-bottom: 8px;
}

.alert-text{
  color: red;
  font-weight: 400;
  margin-left: .3em;
}

.loc-school-addr-wrapper{
  text-align: end;
  font-weight: bold;
}

.loc-web-address{
  font-size: 18px;
  text-decoration: none;
  color: #3597ff;
}

.loc-school-addr-wrapper-right{
  width: 40%;
  text-align: end;
  display: table;
}

.loc-web-address-right{
  display: table-cell;
  vertical-align: bottom;
  font-weight: bold;
}

.openlab-location-img{
  position: absolute;
  width: 400px;
  height: 580px;
  right: -210px;
  bottom: -285px;
}

.openlab-feedback{
  width: 100%;
  height: 580px;
  display: flex;
  background-color: #f3f9ff;
}

.feedack-container{
  width: 73%;
  margin: auto;
  padding: 48px 0 0 0;
  display: flex;
  height: calc(100% - 50px);
  position: relative;
}

.feedback-wrapper{
  width: 45%;
  display: flex;
}

.text-feedaback-header{
  font-size: 40px;
  font-weight: 100;
  margin: 0;
}

.feedback-text-wrapper{
  padding: 100px 0 0 0;
  height: calc(100% - 100px);
  width: 100%;
}

.span-feedback-header{
  color: black;
  font-weight: bold;
}

.feedback-card{
  padding: 40px 20px 0 20px;
  position: relative;
  height: calc(100% - 200px)
}

.quotation-icon{
  z-index: 1;
  position: absolute;
}

.feedback-testimony-text{
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 40px 0;
  z-index: 2;
  position: absolute;
  top: 70px;
  left: 35px;
  color: #566b8d;
}

.me-wrapper{
  position: absolute;
  bottom: 0;
  display: flex;
}

.student-name{
  width: 100%;
  margin-left: .5em;
}

.student{
  margin: 0 0 .3em 0;
  font-size: 14px;
  color: #566b8d;
}

.openlab-loc{
  margin: 0;
  font-size: 14px;
  color: #566b8d;
}

.btn-next{
  position: absolute;
  height: 30px;
  width: 35px;
  bottom: 75px;
  right: 710px;
  background-color: #b1c8e4;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.btn-next:hover{
  background-color: #889eba;
}

.btn-prev-icon{
  color: white;
}

.btn-prev{
  position: absolute;
  height: 30px;
  width: 35px;
  bottom: 75px;
  right: 750px;
  background-color: #b1c8e4;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.btn-prev:hover{
  background-color: #889eba;
}

.btn-next-icon{
  color: white;
}

.students-image-wrapper{
  width: 60%;
  position: relative;
}

.students-image{
  width: 636px;
  height: 556px;
  position: absolute;
  bottom: 0;
  right: -20px;
}

.openlab-joinus{
  width: 100%;
  padding: 48px 0;
  height: 500px;
  display: flex;
}

.joinus-container{
  width: 73%;
  height: 100%;
  padding: 48px 0 0 0;
  margin: auto;
}

.joinus-header{
  font-size: 40px;
  font-weight: 100;
  text-align: center;
}

.joinus-text-span{
  color: black;
  font-weight: bold;
}

.joinus-card-wrapper {
  display: flex;
}

.joinus-card{
  padding: 24px 24px 28px;
  line-height: 1.5;
  position: relative;
  height: 190px;
}

.joinus-card:hover{
  box-shadow: 1px 0px 20px 1px rgba(196,196,196,0.75);
-webkit-box-shadow: 1px 0px 20px 1px rgba(196,196,196,0.75);
-moz-box-shadow: 1px 0px 20px 1px rgba(196,196,196,0.75);
transition-timing-function: ease-in-out;
transition: .3s;
}

.joinus-card-header{
  font-size: 20px;
  margin: 0 0 20px 0;
}

.joinus-card-parag{
  margin: 0 0 1em 0;
  color: #566b8d
}

.joinus-arrow-head{
  position: absolute;
  bottom: 25px; 
}

.openlab-testimony{
  width: 100%;
  height: 470px;
  display: flex;
  padding: 48px;
  position: relative;
}

.joinus-testimony-wrapper{
  width: 73%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  position: relative;
  
}

.joinus-testimony-card{
  position: absolute;
  background-color: #a54fa2;
  width: 580px;
  height: 470px;
  top: -70px;
  left: -160px;
  border-radius: 6px;
  display: flex;
  z-index: 2;
}

.joinus-testimony-img-wrapper{
  width: 90%;
  height: 100%;
  margin-left: auto;
  background-color:#3597ff;
  border-radius: 24px;
  margin: auto;
  position: absolute;
  z-index: 1;
  right: -50px;
}

.testimony-card-info-wrapper{
  margin: 3.5em 2em;
}

.testimony-person-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.joinus-person{
  font-size: 18px;
  margin: 0 0 1em 0;
  color: white;
}

.joinus-person-span{
  font-weight: bold;
}

.joinus-line{
  height: 1px;
  width: 50px;
  background-color: white;
}

.testimony-summary{
 font-size: 24px;
 line-height: 1.5;
 margin: 24px 0; 
}

.testimony-parag{
  margin: 0 0 48px 0;
  color: white;
  line-height: 1.5;
  font-size: 16px;
}

.joinus-name{
  color: white;
  margin: 0;
  font-size: 16px;
}

.joinus-job-pos{
  margin: .5em 0 0 0;
  color: white;
}

.horiz-scroller-wrapper-testimony{
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 15px;
  display: flex;
  gap: 5px;
  justify-content: center;
  z-index: 3;
}

.scroller-circle-testimony{
  width: 10px;
  height: 10px;
  background-color: rgba(240, 248, 255, 0.742);
  border-radius: 50%;
}

.scroller-circle-testimony:nth-child(2){
  background-color: #3597ff;
}

.testimony-circle{
  position: absolute;
  width: 482px;
  right: -110px;
  bottom: -250px;
}

.openlab-projects{
  width: 100%;
  display: flex;
  padding: 48px 0px;
  position: relative;
}

.openlab-projects-container{
  width: 73%;
  margin: auto; 
}

.openlab-header-wrapper{
  text-align: center;
}

.projects-header{
  font-size: 40px;
  font-weight: 100;
  margin: 0 0 48px 0;
}

.projects-span-header{
  font-weight: bold;
  color: black;
}

.projects-parag{
  line-height: 1.5;
  font-size: 16px;
  padding: 0 6em;
  margin: 0 6em 6em;
  color: #566b8d;
}

.openlab-projects-wrapper{
  position: relative;
}

.projects-subheader{
  font-size: 18px;
  margin: 0 0 48px 0;
}

.projects-subheader-span{
  color: black;
  font-weight: bold;
}

.openlab-projects-line{
  position: absolute;
  height: 1px;
  background-color: black;
  width: 50px;
  top: 45px;
  left: 0;
  margin: 0;
}

.horiz-scroller-wrapper-testimony{
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 15px;
  display: flex;
  gap: 5px;
  justify-content: center;
}

.projects-testimonies-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 0 48px 0;
}

.project-text-wrapper{
  margin: auto 0;
  width: 40%;
}

.project-card-header{
  font-size: 28px;
  color: black;
  font-weight: 400;
  margin: 0 0 48px 0;
}

.project-parag{
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 16px 0;
  padding: 0 20px 0 0;
  color: #566b8d;
}

.project-card-span{
  color: #566b8d;
  font-weight: bold;
}

.project-video-wrapper{
  background-color: #5b94d7;
  width: 50%;
  border-radius: 20px;
  position: relative;
}

.video-thumbnail{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.video-start-button{
  position: absolute;
  z-index: 3;
  left: 45%;
  top: 40%;
}

.projects-btn-wrapper{
  width: 100%;
  position: relative;
}

.proj-btn-prev{
  position: absolute;
  height: 30px;
  width: 35px;
  bottom: 10px;
  left: 0;
  background-color: #b1c8e4;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.proj-btn-prev:hover{
  background-color: #889eba;
}

.proj-btn-next{
  position: absolute;
  height: 30px;
  width: 35px;
  bottom: 10px;
  left: 40px;
  background-color: #b1c8e4;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.proj-btn-next:hover{
  background-color: #889eba;
}

.horiz-scroller-wrapper-proj{
  padding-top: 16px;
  width: 100%;
  height: 10px;
  display: flex;
  gap: 5px;
  justify-content: center;
}

.scroller-circle-proj{
  width: 10px;
  height: 10px;
  background-color: #beddff;
  border-radius: 50%;
}

.scroller-circle-proj:nth-child(2){
  background-color: #3597ff;
}

.projects-all-link{
  display: flex;
}

.all-link-text{
  font-size: 16px;
  margin-right: .5em;
  text-decoration: none;
  color: #3597ff;
}

.all-link-r-arrow{
  color: #3597ff;
}

.openlab-proj-line{
  width: 73%;
  border-bottom: 1px solid #d7eaff;
  height: 1px;
  margin: auto;
  margin-bottom: 48px;
}

.openlab-proj-image-circle{
  position: absolute;
  width: 435px;
  bottom: -290px;
  left: -230px;
}

.openlab-whyus{
  width: 100%;
  padding: 48px 0;
  margin-top: 48px;
}

.whyus-container{
  padding: 48px 12px 0 12px;
  width: 73%;
  margin: auto;
}

.whyus-header-wrapper{
  text-align: center;
  margin-bottom: 48px;
}

.whyus-header{
  font-size: 40px;
  margin: 0 0 48px 0;
  font-weight: 100;
}

.whyus-span-header{
  color: black;
  font-weight: bold;
}

.whyus-cards-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 12px;
  row-gap: 36px;
}

.whyus-card{
  width: 350px;
}

.whyus-img-wrapper{
  width: 100%;
  height: 45px;
}

.whyus-text-wrapper{
  width: 100%;
  padding: 24px 0 16px;
}

.whyus-card-header{
  margin: 0 0 24px 0;
  font-size: 20px;
}

.whyus-parag{
  font-size: 16px;
  line-height: 1.5;
  color: #566b8d;
}

.openlab-whyus-line{
  width: 73%;
  border-bottom: 1px solid #d7eaff;
  height: 1px;
  margin: auto;
}

.team-openlab{
  width: 100%;
  padding: 48px 0;
}

.team-openlab-container{
  width: 73%;
  margin: auto;
}

.team-openlab-header-wrapper{
  width: 100%;
  text-align: center;
  margin-bottom: 48px;
}

.team-openlab-header{
  font-size: 40px;
  margin: 0;
  padding: 24px 12px;
}

.team-openlab-founders-wrapper{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 25px;
  row-gap: 56px;
}

.founder-card{
  width: 290px;
}

.founder-img-wrapper{
  width: 100%;
  height: 340px;
  border-radius: 8px;
}

.founder-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.founder-info-wrapper{
  margin: 0;
  padding: 16px 0 0 0;
}

.founder-pos{
  font-size: 14px;
  margin: 0 0 8px 0;
  color: #566b8d;
}

.founder-name{
  font-size: 20px;
  margin: 16px 0 0 0;
}

.founder-job-pos{
  font-size: 16px;
  margin: 0;
  line-height: 1.5;
  color: #566b8d;
}

.openlab-support{
  width: 100%;
  padding: 48px 0;
}

.openlab-support-container{
  width: 73%;
  margin: auto;
  display: flex;
}

.support-image-wrapper{
  width: 50%;
  height: 400px;
  padding-right: 12px;
}

.support-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.support-text-container{
  width: 50%;
  display: flex;
  padding-left: 12px;
}

.support-text-wrapper{
  margin: auto 0;
}

.support-header{
  font-size: 32px;
  margin: 0 0 24px 0;
}

.support-parag{
  font-size: 16px;
  margin: 0 0 48px 0;
  line-height: 1.5;
}

.support-link-wrapper{
  margin: 0;
  font-size: 16px;
  display: flex;
  cursor: pointer;
}

.support-link-text{
  color: #3597ff;
  text-decoration: none;
  margin-right: .2em;
}

.support-right-link-icon{
  color: #3597ff;
}

.openlab-sponsors{
  width: 100%;
  height: 300px;
  display: flex;
  padding: 48px 0px;
}

.sponsors-container{
  width: 73%;
  margin: auto;
  display: flex;
}

.sponsors-header-wrapper{
  display: flex;
  width: 40%;
}

.sponsors-header{
  margin: auto 0;
  font-size: 40px;
  font-weight: 100;
}

.sponsors-span-text{
  color: black;
  font-weight: bold;
  padding: 0 12px;
}

.sponsor-logos-wrapper{
  padding: 0 12px;
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  justify-content: center;
  column-gap: 35px;
}

.sponsor-img-wrapper{
  width: 240px;
  height: 100px;
  /* background-color: #abc0d7; */
  display: flex;
}

.openlab-insta-board{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 100px 0;
}

.insta-card{
  flex-grow: 1;
  width: 100px;
  height: 280px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.insta-card-img{
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  object-fit: cover;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.insta-hidden-block{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  display: none;
}

.insta-days-counted{
  color: rgb(255, 255, 255);
  position: absolute;
  top: 90%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.insta-card-logo{
  position: absolute;
  z-index: 1;
  color: white;
  top: 92%;
  right: 3%;
}

.insta-card:hover .insta-hidden-block{
  display: block;
}


.openlab-mdrnschool{
  width: 100%;
  padding: 48px 0;
}

.mdrnschool-container{
  width: 73%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.mdrnschool-text-wrapper{
  width: 40%;
  display: flex;
}

.mdrnschool-header{
  font-size: 40px;
  font-weight: 100;
  margin: 0 0 16px 0;
}

.mdrnschool-span-text{
  font-weight: bold;
  color: black;
}

.mdrnschool-parag{
  font-size: 16px;
  margin: 0 0 24px 0;
  line-height: 1.5;
  color: #566b8d;
}

.mdrnschool-media-links{
  width: 100%;
  display: flex;
  margin: 0 0 24px 0;
  gap: 15px;
}

.btn-mdrnschool{
  padding: 18px 50px;
  font-size: 14px;
  color: white;
  background-color: #3597ff;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}

.mdrn-text-container{
  margin: auto 0;
}

.mdrnschool-img-container{
  width: 50%;
  background-color: #5b94d7;
  height: 340px;
}

.mdrnschool-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.openlab-supporters{
  width: 100%;
  padding: 48px 0;
}

.openlab-supp-container{
  width: 73%;
  margin: auto;
}

.supp-header-wrapper{
  text-align: center;
}

.supp-header{
  font-size: 40px;
  font-weight: 100;
  margin: 0 0 48px 0;
}

.supp-span-text{
  color: black;
  font-weight: bold;
}

.supp-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  column-gap: 60px;
  row-gap: 20px;
}

.supp-img-wrapper{
  width: 200px;
  height: 100px;
  display: flex;
  margin-top: 48px;
}

.supp-image-logo{
  margin: auto;
}

.superfaktura {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.pontis-logo{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.binary-logo{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.kontinento-logo{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.pelikan-logo{
  width: 70px;
  margin: auto;
  height: 100%;
  object-fit: contain;
}

.openlab-newsletter{
  width: 100%;
  padding: 48px 0;
}

.newsletter-container{
  width: 73%;
  margin: 0 auto 48px auto;
  display: flex;
  background-color:#d7eaff;
  border-radius: 8px;
}

.newsletter-paddinger{
  padding: 28px 0;
  display: flex;
  gap: 100px;
  margin: auto;
  width: 85%;
}

.newsletter-text-wrapper{
  width: 50%;
}

.newsletter-text{
  font-size: 20px;
  font-weight: 100;
}

.newsletter-span-text{
  color: black;
  font-weight: bold;
}

.form-wrapper{
  display: flex;
}

.newsletter-form{
  position: relative;
  margin: auto 0;
}

.newsletter-input-field{
  width: 400px;
  padding: 10px 60px 10px 20px;
  border-radius: 8px;
  border: 1px solid black;
}

.spinner-logo{
  position: absolute;
  right: 20px;
  bottom: 10px;
  color: #3597ff;
}

.openlab-footer{
  width: 100%;
  padding: 48px 0;
  position: relative;
  height: 60px;
  margin-bottom: auto;
  overflow: hidden;
}

.footer-container{
  width: 73%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  
  justify-content: space-between;
}

.link-logo{
  font-size: 22.5px;
  font-weight: bold;
}

.openlab-footer-logo{
  display: flex;
  margin-right: 5em;
}

.footer-logo-wrapper{
  margin: auto 0; 
}

.footer-openlab-fullname{
  font-size: 13px;
  margin: 8px 0 0 0;
  color: #566b8d;
}

.footer-openlab-span-text{
  font-weight: bold;
  color: #566b8d;
}

.openlab-address-info{
  display: flex;
  margin-right: 5em;
  color: #566b8d;
}

.footer-addr-wrapper{
  margin-top: auto;
}

.ico-info{
  margin: 0 0 .2em 0;
  font-size: 13px;
}

.addr-info{
  margin: 0;
  font-size: 13px;
}

.openlab-contact-email{
  display: flex;
  margin-right: 5em;
}

.footer-em-wrapper{
  margin-top: auto;
}

.openlab-email-addr{
  font-size: 13px;
  text-decoration: underline;
  color: #566b8d;
}

.openlab-social-media-links{
  display: flex;
}

.social-media-wrapper{
  margin-top: auto;
  display: flex;
  justify-content: end;
  gap: 15px;
}

.footer-block-img{
  position: absolute;
  right: 85px;
  bottom: -30px;
}

